html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    background: url("../images/blueCrystal.jpg") no-repeat center;
    background-size: cover;
}

.name {
    color: #fff;
    text-shadow: 3px -3px black;
}

.header {
    width: 90%;
}

.instructions {
    width: 40%;
    background-color: #99ccff;
    color: black;
    text-shadow: 1px -.5px #fff;
    padding-left: 1%;
}

/* #target, #record, #buttons, #theScore  {
    background-color: #99ccff;
} */

#need {
    color: #fff;
    text-shadow: 2.5px -2px black;
}

/*.scoreboard {
    background-color: #99ccff;
}*/

#wins, #losses {
    color: black;
    text-shadow: 2px -1.5px #fff;
}

#score {
    color: black;
    text-shadow: 2.5px -2px #fff;
}

img {
    height: 150px;
    width: 150px;
}


#buttonArea {
    width: 33.33%;
}