body {
    box-sizing: border-box;
    margin: auto;
    background-color: #B0C3DE;
}

.header {
    width: 90%;
}

.instructions {
    width: 90%;
    background-color: lightgray;
}

#crystalArea {
    width: 33.33%;
}